<!doctype html>
<html>
<head>
  <title>Fill out the Form</title>
</head>
<body>

<h1>Get Started on your Madlibs</h1>

<form action="/madlib" method="POST">
  Person Name: <input type="text" name="person"><br>
  Color:
  	<select name="color">
  		<option value="red">Red</option>
  		<option value="pink">Pink</option>
  		<option value="yellow">Yellow</option>
  		<option value="orange">Orange</option>
  		<option value="green">Green</option>
  		<option value="purple">Purple</option>
  		<option value="blue">Blue</option>
  	</select>
  <br> <!-- make this a dropdown -->
  Noun: <input type="text" name="noun"><br>
  Adjective: <input type="text" name="adjective"><br>
  Favorite Foods: <br>
  	<input type="checkbox" name="favfood" value="cupcakes">Cupcakes<br>
  	<input type="checkbox" name="favfood" value="pizza">Pizza<br>
  	<input type="checkbox" name="favfood" value="boba">Boba<br>
  	<input type="checkbox" name="favfood" value="cookies">Cookies<br>
  <input type="submit">
</form>

</body>
</html>